body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4b0082;
    color: #fff;
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.bingo-container,
.gerar-cartela-container {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.cartela {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-gap: 10px;
}

.cartela div {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid: #4b0082;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 5px;
}

#numero-sorteado {
    font-size: 36px;
    color: #4b0082;
    margin: 20px 0;
}

#sortear-btn,
#gerar-cartela-btn,
#bingo-btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4b0082;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 10px;
}

#sortear-btn:hover,
#gerar-cartela-btn:hover,
#bingo-btn:hover {
    background-color: #4b0082;
}
.centro {
    width: 50px;
    height: 50px;
    border: 1px solid #4b0082;
}

.numero {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #4b0082;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.marcado {
    background-color: #4b0082;
    color: #fff;
}
.centro {
    width: 50px;
    height: 50px;
    border: 1px solid #4b0082;
}

.numero {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #4b0082;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.marcado {
    background-color: #4b0082;
    color: #fff;
}

#limpar-cartela-btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #FF5722; /* Cor de fundo laranja */
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#limpar-cartela-btn:hover {
    background-color: #FF7043; /* Cor de fundo laranja mais clara ao passar o mouse */
}
